settings.ini
data.csv
debug.log
Countdown Master.lnk
.DS_Store
settings.sync-conflict-20260107-083044-N2XQTBX.ini
CountdownMaster.app/Contents/Info.plist
CountdownMaster.app/Contents/PkgInfo
CountdownMaster.app/Contents/MacOS/applet
CountdownMaster.app/Contents/Resources/applet.icns
CountdownMaster.app/Contents/Resources/applet.rsrc
CountdownMaster.app/Contents/Resources/Assets.car
CountdownMaster.app/Contents/Resources/description.rtfd/TXT.rtf
CountdownMaster.app/Contents/Resources/Scripts/main.scpt
debug.sync-conflict-20260120-151326-DEXZWB2.log
debug.sync-conflict-20260120-151839-DEXZWB2.log
debug.sync-conflict-20260120-190753-DEXZWB2.log
passive.csv
settings.sync-conflict-20260120-151152-DEXZWB2.ini
settings.sync-conflict-20260120-154021-DEXZWB2.ini
settings.sync-conflict-20260120-190758-DEXZWB2.ini
active.csv
anki.csv
output.csv
phonetic.csv
soroban.csv
*.log
*.ini
